/* HOME PAGE */
.home__container {
  max-width: 1280px;
  margin: auto;
}

.home__header {
  text-align: center;
}

.home__cta {
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: #A2A632;

}