/* APP */
.app__container {
  max-width: 1280px;
  margin: auto;
}

/* HOME PAGE */
.home__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home__header {
  text-align: center;
}

.home__cta {
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: #A2A632;

}