/* APP */
.app__container {
  max-width: 1280px;
  margin: auto;
}  

/* HOME PAGE */
.home__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #bfbf92;
  font-family:monospace;
  width:100vw;
  min-height: 100vh;
}

.home__header {
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.home__img {
  width: 50%;
}

.home__form {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  padding-top: 10%;
  padding-bottom: 10%;

}

.home__cta {
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: #A2A632;
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family:monospace;
}